<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>PETSHOP DH</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<%- include("./components/header.ejs") %>

		<main>
			<section class="servicos-lista">
				<div class="container">
					<h1>Serviços</h1>

					<% for(let servico of servicos) { %>
					<article>
						<div class="thumb">
							<img src="<%= servico.imagem %>" alt="" />
						</div>
						<div class="info">
							<h2><%= servico.nome %></h2>
							<p><%=servico.preco%></p>
							<p><%= servico.descricao %></p>
							<a href="#" class="btn btn-primary">agendar</a>
						</div>
					</article>
					<% } %>
				</div>
			</section>
		</main>
		<%- include("./components/footer.ejs") %>
	</body>
</html>
