<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products House</title>

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> -->

    <link rel="stylesheet" href="/css/glider.min.css">

    <link rel="stylesheet" href="/css/home.css">

    <script src="/js/glider.min.js" defer></script>

</head>

<body>
    <%- include('./components/header.ejs') %>

    <%- include('./components/navbar.ejs') %>


    <main class="container">
        <section class="banner">
            <div class="glider-contain">
                <div class="glider">
                  <div>
                    <img src="https://images-americanas.b2w.io/spacey/acom/2022/10/24/DESK-PREBF-c6a8c60dc18a.png" alt="">
                  </div>

                  <div>
                    <img src="https://images-americanas.b2w.io/spacey/acom/2022/10/28/iphone500-destaque-desk-bbddc8dfd283.png" alt="">
                  </div>

                  <div>
                    <img src="https://images-americanas.b2w.io/spacey/acom/2022/10/20/tvsdeskj-623b696e6a49.png" alt="">
                  </div>
                </div>
              
                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div role="tablist" class="dots"></div>
              </div>
        </section>

        <section class="products">
            <% products.forEach(product => { %>
                <article class="card-product">
                    <img src="<%= product.image %>" alt="">
                    <div>
                        <span>
                            <%= product.name %>
                        </span>
                        <h3>
                            <%= product.price %>
                        </h3>
                    </div>
                    <a href="/produtos/<%=product.id%>" target="_blank">Comprar</a>
                </article>
            <% }) %> 

            

        </section>
    </main>

    <%- include('./components/footer.ejs') %>

    
</body>

</html>