<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
			crossorigin="anonymous"
		/>

		<title>Admin | Serviços</title>
	</head>
	<body>
		<main>
			<section
				class="d-flex flex-column justify-content-center align-items-center w-100"
			>
				<h1>Editar Serviço</h1>

				<form
					action="/admin/servicos/<%=servico.id%>/edit?_method=PUT"
					method="POST"
				>
					<div class="mb-3">
						<label for="name" class="form-label">Nome</label>
						<input
							type="text"
							class="form-control"
							id="name"
							name="name"
							value="<%=servico.name%>"
						/>
					</div>

					<div class="mb-3">
						<label for="price" class="form-label">Preço</label>
						<input
							type="number"
							class="form-control"
							id="price"
							name="price"
							step="0.01"
							value="<%=servico.price%>"
						/>
					</div>

					<div class="mb-3">
						<label for="description" class="form-label"
							>Descrição</label
						>
						<textarea
							class="form-control"
							id="description"
							rows="3"
							placeholder="Digite a descrição do produto"
							name="description"
						>
<%=servico.description%></textarea
						>
					</div>

					<div class="mb-3">
						<label for="image" class="form-label">Imagem</label>
						<input
							type="text"
							class="form-control"
							id="image"
							name="image"
							value="<%=servico.image%>"
						/>
					</div>

					<input type="hidden" name="id" value="<%=servico.id%>" />

					<button type="submit" class="btn btn-primary">
						Submit
					</button>
				</form>
			</section>
		</main>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
			crossorigin="anonymous"
		></script>
	</body>
</html>
